{% extends 'basic.html' %}
{% block title %} contact {% endblock title %}   
{% block contactactive %} active {% endblock contactactive %}
{% block body %}
<div class="container">
<h1> Contact Coder</h1>
<form method="post" action="/contact">
  {% csrf_token %}
  <div class="form-group my-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" aria-describedby="name">
  </div>
  <div class="form-group">
    <label for="email1">Email address</label>
    <input type="email" class="form-control" id="email" name="email"  aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="phone">Phone no.</label>
    <input type="phone" class="form-control" name="phone" id="phone">
  </div>
 <div class="form-group">
    <label for="content">How may we help you:</label>
    <textarea name="content" type="text" cols="30" rows="5" class="form-control" id="content"></textarea>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}